{% extends "ascension/base.html" %}
{% load static %}

{% block title %}興味分野追加{% endblock title %}

{% block contents %}
<div class='container d-flex justify-content-center'>
    <div class='col-12 col-md-7'>
        <div class='row text-center'>
            <h1>興味分野の追加</h1><br>
        </div>
        <form method='POST' action="{% url 'ascension:add_interest_category' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type='submit' class='btn btn-primary'>追加</button>
        </form>
    </div>
</div>
{% endblock contents %}
